{{#each this}}
  <li>
    <img src='{{flags.svg}}' alt='{{name.official}}' />
    <p class=''>{{name.official}}</p>
    <p>Capital:{{capital}}</p>
    <p>Population:{{population}}</p>
    <p>Languages:{{languages}}</p>
  </li>
{{/each}}